
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust as needed */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FFADB3;
  display: grid;
  animation: l22-0 2s infinite linear;
  /* transform: scale(1); */
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 15%;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0deg) translate(150%);
  animation: l22 1s infinite;
}
.loader:before {
    transform: rotate(0deg) translate(150%) scale(0.7);
}
.loader:after {
  animation-delay: -.5s;
  transform: rotate(0deg) translate(150%) scale(0.5);
}
@keyframes l22-0 {
  100% {transform: rotate(1turn)}
}
@keyframes l22 {
  100% {transform: rotate(1turn) translate(150%)}
}